@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Home</h1>

<h4>Usage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>@Model.CurrentGPUInfo</p>
    </div>
    <div class="col-md-4">
        <a type="button" class="btn btn-primary" asp-action="Deploy">Deploy</a>
    </div>
</div>
