@model GPUCluster.Shared.Models.Workload.Image

@{
    ViewData["Title"] = "Create";
    var CurrentUser = ViewData["CurrentUser"] as GPUCluster.Shared.Models.Instance.ApplicationUser;
}

<h1>Create</h1>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="create-form" asp-action="Create" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-success="createFinish" data-ajax-update="#ajax-form">
            <div id="ajax-form">
                @await Html.PartialAsync("Partial/_CreateForm", ViewData)
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        createFinish = function (xhr) {
            if(xhr.)
            $.ajax()
        };
    </script>
}
